body {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
	color: gray;
}

#chart-area {
	margin: 0;
}

.footer {
	text-align: left;
	font-size: 0.8em;
	margin: 0 0 0 20px;
	a {
		color: gray;
	}
}

.meteorite:hover {
	fill: black;
	cursor: pointer;
}

#tooltip {
	display: none;
	position: absolute;
	background-color: gray;
	color: white;
	opacity: 0.8;
	border-radius: 20px;
	padding: 10px;
	font-size: 0.8em;
	p {
		margin: 0;
	}
}