body {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
	color: gray;
}

#chart-area {
	margin: 0;
}

.footer {
	text-align: left;
	font-size: 0.8em;
	margin: 0 0 0 20px;
	a {
		color: gray;
	}
}