/* line 1, ../sass/screen.scss */
body {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  color: gray;
}

/* line 9, ../sass/screen.scss */
#chart-area {
  margin: 0;
}

/* line 13, ../sass/screen.scss */
.footer {
  text-align: left;
  font-size: 0.8em;
  margin: 0 0 0 20px;
}
/* line 17, ../sass/screen.scss */
.footer a {
  color: gray;
}

/* line 22, ../sass/screen.scss */
.meteorite:hover {
  fill: black;
  cursor: pointer;
}

/* line 27, ../sass/screen.scss */
#tooltip {
  display: none;
  position: absolute;
  background-color: gray;
  color: white;
  opacity: 0.8;
  border-radius: 20px;
  padding: 10px;
  font-size: 0.8em;
}
/* line 36, ../sass/screen.scss */
#tooltip p {
  margin: 0;
}
